#searchResultsPage {
    /*font styling */
    font-family: 'PT Sans', sans-serif;
    font-style: bold;
}

.p {
    font-size: 20px;
}

.newUserButton {
    background-color: #ff9900;
    color: black;
    border-radius: 5px;
    margin-left: 5px;
}